html, body {
    margin: 0;
    padding: 0;
}
.topnav {
    background-color: #b6abc0;
    overflow: hidden;
    left: 0;
    width: 100%;
}
.topnav a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: purple;
    color: #f1f1f1;
}
.topnav a:active {
    background-color: #04AA6D;
    color: black;
    left: 0;
}
#main h2{
    color: black;
    text-shadow: #f1f1f1;
    left: 0;
    font-size: 30px;
}
#main {
    color: black;
    font-size: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
}
html {
    background-color: white;
}
.title{
    width: 100%;
    top: 0;
    left: 0;
    background-color: #7d8e7c;
    color: black;
    padding: 20px;
    font-size: 40;
}
.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #b6abc0;
    color: black;
    padding-left: 10px;
}
.blockquote {
    margin-left: 0;
}
