html {
    background-color: #F2B705;
    max-width: 1000px;
    width: 100%;
}
.content {
    width: 1000px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    padding-bottom: 20px;
}
.topnav {
    background-color: #593EA2;
    overflow: hidden;
    left: 0;
    width: 100%;
}
.topnav a {
    float: left;
    color: #141259;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #F29F05;
    color: #f1f1f1;
}
.topnav a:active {
    background-color: #04AA6D;
    color: #141259;
    left: 0;
}
#main h2{
    color: #593EA2;
    text-shadow: #f1f1f1;
    left: 0;
    font-size: 30px;
}
#main {
    color: #593EA2;
    font-size: 20px;
    padding-bottom: 50px;
}
.title{
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: #2703A6;
    color: #F29F05;
    font-size: 40;
}
.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2703A6;
    color: #F29F05;
    padding-left: 10px;
}
