.topnav {
    background-color: #102542;
    left: 0;
    top: 0;
    width: 200px;
    position: fixed;
    z-index: 1;
    height: 100%;
    padding-top: 20px;
}
.topnav a {
    display: block;
    color: #8C8C88;
    text-align: center;
    padding: 8px 8px 8px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #94A187;
    color: #f1f1f1;
}
.topnav a:active {
    background-color: #04AA6D;
    color: black;
}
#main h2{
    color: #0E0906;
    text-shadow: #f1f1f1;
    font-size: 30px;
}
#main {
    color: #0E0906;
    font-size: 20px;
    padding: 20px;
    width: 90%;
    min-width: 600px;
    margin-left: 200px;
    padding-bottom: 50px;
}
html {
    background-color: #94A187;
}
.title{
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    margin-left: 200px;
    background-color: #29524A;
    color:#0E0906;
    text-shadow: 4px 2px #94A187;
}
.bottombar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #29524A;
    color: #94A187;
    padding-left: 10px;
    margin-left: 200px;
}
